 html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    margin: 0;
    border: 2px orange solid;   
    display: flex;
    flex-direction: column;
    justify-content: center   ; /*hlavná os podľa flex-direction*/
    align-items: center  ;   /*vedľajšia os podľa flex-direction
    /* flex-wrap: wrap; */
}

p{
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}

/* Farby elementov */
.prvy{
    background-color: plum;
    order: 5; /*poradie elementov*/

   }

.druhy{
    order: 3;
    background-color: burlywood;
}

.treti{
    background-color: cyan;
    order: 4;

}

.stvrty{
    background-color: lightcoral;
    order: 5;

}

.piaty{
    background-color: lightgreen;
    order: 1;
}