@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --hlavna-farba: chocolate;
}


.zeleny{
    color: var(--hlavna-farba);
    padding: 150px;
    border: dotted 50px red;
    margin-top: 130px;
}

.bledy{
    color: var(--hlavna-farba);
}











body{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0;
}

.prvy-box{
    margin: 30px;
    border: 5px solid #3498db;
    padding: 20px;

}

div{
    background-color: aquamarine;
}